<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<style>
    body {
      padding-top: 56px;
    }

</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'base' %}">Fitness</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <li>
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="{% url 'account_logout' %}"
                   style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Выход
                </a>
            {% else %}
                <a href="{% url 'account_login' %}"
                   style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Вход
                </a>
                <a href="{% url 'account_signup' %}"
                   style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Регистрация
                </a>
            {% endif %}
        </li>
        </li>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>